header {
    position: fixed;
    top: 0;
    z-index: 99;
    height: 56px;
    width: 100%;
    display: grid;
    background: var(--bg-primary);

    box-shadow: 1px 8px 15px -7px var(--shadow-2);
    grid-template-columns: repeat(3, 1fr);
    color: var(--color-primary);

}

.header_left {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px 1rem;

}

.cirle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--bg-forth);
    padding: 10px 32px 10px 10px;
    cursor: text;
    border-radius: 50px;
}

.search input {
    outline: none;
    border: none;
    font-size: 15px;
    background: transparent;
    font-family: inherit;
}

.search input::placeholder {
    transform: translateY(-1px);
}

.header_middle {
    display: flex;
    align-items: center;
    gap: 14px;
    transform: translateX(3x)
}

.middle_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    transform: translateX(-2px);
}

.middle_icon:nth-child(2) {
    transform: translateX(-2px);
}

.middle_icon:nth-child(3) {
    transform: translateX(-3px);
}

.middle_icon:nth-child(4) {
    transform: translateX(-5px);
}

.middle_icon:nth-child(5) {
    transform: translateX(-5px);
}

.active {
    border-bottom: 3px solid var(--blue-color);
    border-radius: 0;
    height: 56px;
    transform: translateX(0);
}

.active svg {
    transform: translateY(1px) translateX(-1px)
}

.middle_notification {
    position: absolute;
    top: 3px;
    right: 1.9rem;
    padding: 1px 5px;
    background: #e41e3f;
    font-size: 13px;
    color: #fff;
    border-radius: 50px;


}

/* Header right  */
.header_right {
    display: flex;
    position: absolute;
    right: 8px;
    top: 50%;
    
    transform: translateY(-50%);

}
.profile_link {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    padding: 3px 10px 3px 6px;
    font-weight: 600;
    line-height: 19px;
    margin-right: 10px;
    border-radius: 50px;
}
.profile_link img {
    width: 28.7px;
    height: 28.7px;
    border-radius:50% ;
    transform: translateX(-1px);

}
.profile_link span {
    margin-bottom: 3px;
}
.circle_icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    background: var(--bg-third);
cursor: pointer;
}
.right_notification {
    position: absolute;
    top: -6px;
    right: -5px;
    background: #e41e3f;
    font-size: 13px;
    color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
}